@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fredoka:wght@300..700&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    width: 300px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ede7e7cd;
    border: 1px solid #9509f2b7;
    border-radius: 15px;
    padding: 7px;
    box-shadow: #ede7e736 7px 8px 15px 0px;
}

.heading-section {
    width: 100%;
    padding: 20px 10px 10px;
    border-radius: 15px;
    background-color: rgba(163, 85, 242, 0.726);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(131, 52, 216, 0.837);
    gap: 30px;
    transition: all 0.2s ease-in;
}

.heading-section:hover {
    box-shadow: rgb(154 99 208 / 65%) 0px 12px 15px 0px;
    transform: translate(0%, -2%);
}

.heading {
    width: 100%;
    text-align: left;
}

.input-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}

.input-details button {
    border: none;
    border-radius: 10px;
    padding: 5px 9px;
    cursor: pointer;
}

.city-name-input {
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.city-name-input:focus-visible {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}

.weather-result {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.city-name-display {
    font-size: 1.2rem;
}

.icon-and-temp {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(136, 36, 236, 0.726);
}

#weather-icon {
    width: 170px;
    margin-left: -30px;
}

.temperatures-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.temperatures {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.temp-badges {
    padding: 5px 13px;
    font-weight: 600;
    font-size: 0.7rem;
    background-color: #0f0d0ddb;
    color: rgb(163, 85, 242);
    border-radius: 999px;
    border: 1px solid rgba(163, 85, 242, 0.481);
    
}   